.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    border-style: double;
    gap: 2rem;
  }

.contenedor p {
    margin: 5rem;
}

.contenedor p span {
    color: rgba(247, 0, 0, 0.815); 
}
.contenedor p span:hover {
    color: rgba(50, 181, 207, 0.815); 
}